.container
  .row
    .span12
      ul(class="breadcrumb")
        li
          a(href="/")
            span(class="divider") /
        li
          a(href="/#{locals.data.Locale}") #{locals.data.Locale}
        - if(locals.data.Ancestors)
          - for Ancestor in locals.data.Ancestors
            li
              span(class="divider") /
              a(href="/#{locals.data.Locale}/#{Ancestor.NodeId}") #{Ancestor.Name}
        li(class="active")
          span(class="divider") /
          |#{locals.data.Name}
      - if(locals.data.Children)
        ul(class="breadcrumb")
          -for(i=0 ; i < locals.data.Children.length ; i++)
            -var child = locals.data.Children[i]
            li
              -if(i!=0)
                span(class="divider") |
              a(href="/#{locals.data.Locale}/#{child.NodeId}") #{child.Name}
          
  -if (locals.data.itemMap)
    .boxes
      -for value in locals.data.itemMap
        -if(value)
          .box
            a(href = value.DetailPageURL,rel="popover",data-title=value.Title,target="_blank")
              -if (value.Images)
                img(src = value.Images.Medium.URL,width=value.Images.Medium.Width,height=value.Images.Medium.Height)
              -else
                img(src = "http://ec1.images-amazon.com/images/G/09/en_JP/nav2/dp/no-image-no-ciu._AA250_.gif",width=150,height=150)
            
script
  $(function(){
    $('.boxes').hide()
    $('.boxes').imagesLoaded(function(){
      $('.boxes').show()
      $('.boxes').masonry({
        itemSelector : '.box'
      });
    });
    $('a[rel=popover]').popover({
      placement : "bottom",
      trigger : "hover"
    });
    $('.dropdown-toggle').dropdown();
    $(document).on('touchstart.dropdown', '.dropdown-menu', function(e) { e.stopPropagation(); });
  });