.container
  .row
    .span12
      -for ancestors in locals.data.AncestorsFromTop
        ul(class="breadcrumb")
          li
            a(href="/")
              span(class="divider") /
          li
            a(href="/#{locals.locale}") #{locals.locale}
          - for(i=0;i<ancestors.length - 1;i++)
            -var node = ancestors[i]
            li
              span(class="divider") /
              a(href="/#{locals.locale}/#{node.BrowseNodeId}") #{node.Name}
          li(class="active")
            span(class="divider") /
            |#{locals.data.Name}
          
      ul(class="breadcrumb")
        - if(locals.data.Children && locals.data.Children.length!=0)
          -for(i=0 ; i < locals.data.Children.length ; i++)
            -var child = locals.data.Children[i]
            li
              -if(i!=0)
                span(class="divider") |
              a(href="/#{locals.locale}/#{child.BrowseNodeId}") #{child.Name}
        - else
          li 
            
          
  .loading
    .row
      .span12
        .progress(class="progress-striped active",style="height: 8px;")
          .bar(style="width: 100%;")
      
  .boxes
      

                        
script
  $(function(){
    $(".boxes").hide()
    jQuery.getJSON("/api/#{locals.locale}/#{locals.data.BrowseNodeId}",function(items,textStatus) {
      if(textStatus == 'success') {
        items.sort(function(a,b){
          if(a.Title === b.Title){
            return 0;
          }
          return a.Title > b.Title ? 1 : -1;
        });
        jQuery.each(items,function(index,value){
          $box = $("<div/>").addClass("box");
          $link = $("<a/>")
            .attr("class","widelink")
            .attr("href",value.DetailPageURL)
            .attr("target","_blank");
          if(value.MediumImage){
            $link.append($("<img/>")
              .attr("src",value.MediumImage.URL)
              .attr("width",value.MediumImage.Width)
              .attr("height",value.MediumImage.Height)
              );
          }
          else{
            $link.append($("<img/>")
              .attr("src","http://ec1.images-amazon.com/images/G/09/en_JP/nav2/dp/no-image-no-ciu._AA150_.gif")
              .attr("width",150)
              .attr("height",150)
              );
          }
          $link.append($("<div/>").text(value.Title))
          $box.append($link);
          $(".boxes").append($box);
        });
        $('.boxes').imagesLoaded(function(){
          $(".loading").hide()
          $(".boxes").show()
          $('.boxes').masonry({
            itemSelector : '.box'
          });
        });
      }
   });
    $('a[rel=popover]').popover({
      placement : "bottom",
      trigger : "hover"
    });
    $('.dropdown-toggle').dropdown();
    $(document).on('touchstart.dropdown', '.dropdown-menu', function(e) { e.stopPropagation(); });
  });