.container
  .row
    .span12
      ul(class="breadcrumb")
        li 
          a(href="/")
            span(class="divider") /
        li(class="active")
          |#{locals.locale}
    
      ul(class="breadcrumb")
        -for(i=0 ; i<locals.rootCategories.length ; i++)
          - rootCategory = locals.rootCategories[i]
          li
            - if(i != 0)
              span(class="divider") |
            a(href="/#{locale}/#{rootCategory.BrowseNodeId}") #{rootCategory.SmartName}
            
  .row
    .span12
      h3 Top Level Browse Node IDs

  .row
    .span12
      table(class="table table-bordered table-hover table-condensed")
        tr
          th BrowseNode
          th isRoot
          th Ancestor Name
          th Name
        - for category in locals.rootCategories
          - var result = category.isError ? "error" : (category.IsCategoryRoot ? "" : "warning")
          tr(class="#{result}")
            td 
              =category.BrowseNodeId
            -if(category.isError)
              td(colspan=3)
                =category.Error.Message[0]
            -else
              td 
                a(href="/#{locals.locale}/#{category.BrowseNodeId}", class="widelink") #{category.IsCategoryRoot}
              -if(category.Ancestors.length != 0)
                td 
                  a(href="/#{locals.locale}/#{category.BrowseNodeId}", class="widelink") #{category.Ancestors[0].Name}
              -else
                td 
              td 
                a(href="/#{locals.locale}/#{category.BrowseNodeId}", class="widelink") #{category.Name}
                  
              

